body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    min-width: fit-content;
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  
/*NAVIGATION BAR*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: antiquewhite;
    margin: 0;
    padding: 20px 5vw;
    border-bottom: 2px solid rgba(0, 0, 0, 0.100);
}

ul a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 21px;
    font-size: 1.2rem;
}



/*WELCOME SECTION*/

#welcome-section {
    min-height: 100vh;
    background-color: rgba(250, 245, 237, 0.800);
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.introduction h1, h2 {
    margin: 10px;
    padding: 0;
    text-align: center;
}

.introduction h1 {
    font-size: 3.5rem;
}

.introduction h2 {
    font-size: 2rem;
    font-style: italic;
    color: antiquewhite;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
}

.introduction a {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 35px;
    line-height: 0;
    border: 2px solid rgba(0, 0, 0, 0.100);
}

.introduction img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transform: (1);
    transition: transform 0.5s;
}


/*PROJECTS SECTION*/

#projects {
    margin: 0 auto;
}

#projects h2 {
    text-align: center;
    padding: 100px 20px 60px;
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-position: under;

}

.embedded-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.embedded-projects > * {
    overflow: hidden;
    max-width: 400px;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.100);
    margin: 20px;
}

.embedded-projects img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.embedded-projects a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 0;
}

.embedded-projects p {
    text-align: center;
    margin: 0;
    padding: 30px 20px;
    background-color: rgb(179, 111, 243);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: white
    }

.code {
    color: rgb(179, 111, 243);
    transition: color 0.3s;
}

.button {
    text-align: center
}

.button a {
    color: inherit;
    text-decoration: none;
}  

.button p {
    font-size: 2rem;
    text-align: center;
    background-color: rgb(218, 178, 255);
    padding: 10px;
    margin: 60px auto 100px;
    display: inline-block;
    transition: background-color 0.5s;
}


/*CONTACT INFO*/

#contact {
    background-color: rgb(232, 209, 253);
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons img {
    width: 35px;
    object-fit: cover;
    margin-left: -10px;
}

.contact-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px 30px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 25px;
    row-gap: 30px;
}

.icon-text p {
    font-size: 1.5rem;
    margin: 0;
}

.contact-info h2 {
    font-size: 3.5rem;
    margin: 0;
}

.contact-info > p {
    margin: 25px 0 40px;
    padding: 0;
    font-style: italic;
    font-size: 1.15rem;
}

.icon-text a {
    margin: 0;
    padding: 0;
    display: flex;
    color: inherit;
    text-decoration: none;
    flex-flow: row;
    align-items: center;
    gap: 5px;
}

.icon-text {
    transition: transform 0.5s;
}

.icon-text p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.icon-text img {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}


/*FOOTER*/

footer {
    margin: -1px 0 0;
    padding: 50px 30px;
    text-align: center;
    background-color: rgb(232, 209, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer p span {
    text-decoration: underline;
    font-size: 0.85em;
    font-weight: normal;
}

footer p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}




/*MEDIA QUERIES*/

/*MEDIA QUERY FOR HOVER CAPABLE DEVICES*/

@media screen and (hover:hover) {
/*NAVIGATION BAR*/

    ul a:hover {
        background-color: aliceblue;
    }

/*INTRODUCTION*/

    .introduction img:hover {
        transform: scale(1.10);
        z-index: 1;
    }

/*PROJECT SECTION*/

    .project-tile:hover .code {
        color: #ffb583;
    }

    .button p:hover {
        background-color: rgb(179, 111, 243);
    }

/*CONTACT INFO*/

    .icon-text:hover {
        transform: translateY(15px);
    }

/*FOOTER*/
    
    footer span:hover {
        color: rgb(240, 240, 240);
        color: #000;
    }
}

/*MEDIA QUERY FOR TABLET*/

@media only screen and (max-width: 700px) {
    /*NAVIGATION MENU*/
    
    ul {
        justify-content: center;
    }

    ul a {
        font-size: 1.2rem;
    }
    
    /*WELCOME SECTION*/
    .introduction h1 {
        font-size: 3rem;
    }

    .introduction h2 {
        font-size: 1.5rem;
    }

    .introduction img {
        width: 250px;
        height: 250px;
    }

    /*PROJECTS SECTION*/
    #projects h2 {
        font-size: 2rem;
    }

    .embedded-projects img {
        width: 380px;
        height: 350px;
    }

    .embedded-projects p {
        width: 380px;
    }

}

/*MEDIA QUERIES FOR MOBILE*/

@media only screen and (max-width: 420px) {

    /*WELCOME SECTION*/
    .introduction h1 {
        font-size: 2.8rem;
    }

    
    .introduction img {
        width: 225px;
        height: 225px;
    }

    /*PROJECTS SECTION*/

    #projects h2 {
        font-size: 1.9rem;
    }

    .embedded-projects img {
        width: 300px;
        height: 250px;
    }

    .embedded-projects p {
        width: 300px;
        font-size: 1.35rem;
    }

    .code {
        color: #ffb583;
    }

}

/*CONTACT SECTION / FOOTER FOR MOBILE*/

@media screen and (max-width: 450px) {
    .icons {
        flex-flow: column;
        align-items: start;
        gap: 20px;
        padding: 30px 0;
    }

    .contact-info h2 {
        font-size: 3rem;
    }

    .icons p {
        font-size: 1.7rem;
    }

    .icons img {
        width: 40px;
    }
    .contact-info > p {
        font-size: 1.25rem;
    }

/*FOOTER*/

    footer p {
        font-size: 1.7rem;
    }
}

/*MEDIA QUERY FOR PROJECTS*/

@media only screen and (min-width: 1700px) {
    #projects {
        width: 80vw;
    }
}

